<!--<nav id="fixedTopNav" class="nav-bar">-->
  <!--&lt;!&ndash; Navigation Links &ndash;&gt;-->
  <!--<ul class="nav" role="menu">-->
    <!--<li class="nav-link" style="font-weight: bold"><a>{{username}}</a></li>-->
    <!--<li class="nav-link">-->
      <!--<a routerLink="/dashboard">-->
        <!--&lt;!&ndash;<i class="fa fa-envelope-o">&ndash;&gt;-->
        <!--&lt;!&ndash;</i>&ndash;&gt;-->
        <!--Dashboard-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-link">-->
      <!--<a routerLink="/home">Home</a>-->
    <!--</li>-->
    <!--<li class="nav-link">-->
      <!--<a routerLink="/highchart">Highchart</a>-->
    <!--</li>-->
    <!--<li class="nav-link ml-auto">-->
      <!--<a [routerLink]="['/signin']" (click)="logout()">Logout</a>-->
    <!--</li>-->
  <!--</ul>-->
  <!--&lt;!&ndash; /Navigation Links &ndash;&gt;-->
<!--</nav>-->


<!--<nav class="navbar navbar-dark bg-dark">-->
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <!--<div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
    <!--<div class="navbar-nav">-->
      <!--<a routerLink="/dashboard">-->
        <!--&lt;!&ndash;<i class="fa fa-envelope-o">&ndash;&gt;-->
        <!--&lt;!&ndash;</i>&ndash;&gt;-->
        <!--Dashboard-->
      <!--</a>-->
      <!--<a routerLink="/home">Home</a>-->
      <!--<a routerLink="/highchart">Highchart</a>-->
      <!--<a [routerLink]="['/signin']" (click)="logout()">Logout</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->


<nav class="navbar sticky-top navbar navbar-expand-lg bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">LGO</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" role="menu">
    <li class="nav-link" style="font-weight: bold"><a>{{username}}</a></li>
    <li class="nav-item" >
    <a class="nav-link" routerLink="/dashboard">
    <!--<i class="fa fa-envelope-o">-->
    <!--</i>-->
    Dashboard
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/highchart">Highchart</a>
    </li>
    <li class="nav-item ml-auto">
    <a class="nav-link" [routerLink]="['/signin']" (click)="logout()">Logout</a>
    </li>
    </ul>

  </div>
</nav>
