.side_container{
  margin-left: 0px;
  width: 100%;
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  /*background: #eeeeee;*/
  height:100%;
  border-right: 1px #dfdfdf solid;
}

.side_content{
  color: black;
  padding-top: 40px;
  padding-left:30px;
}
.sticky-offset {
  /*top: 56px;*/
  position: fixed;
}
